<div class="row ">
    <div class="container-fluid col " style="padding-top: 25vh;
    padding-left: 5vh;">
        <h1 class="text-danger">A Comprehensive problem for reliable</h1>
        <h2 class="text-light ml12">job opportunities and internships.</h2>
        <h5 class="text-light">Get Discovered Get Hired</h5>
        <a class="btn btn-danger">I'm a Job seeker</a>
        <a class="btn btn-danger">I'm a Recruiter</a>
        <span id="element"></span>

  <!-- Load library from the CDN -->
  
    </div>
    <div class="container-fluid col text-center">
        <img src="banner.png" alt="">
    </div>
</div>
